@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    height: 90vh;
    background-color: black;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
}

.navbar {
    height: 10vh;
    margin-bottom: 30px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.nav-items {      
    font-size: 18px;
    letter-spacing: 3px;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.4s;
}

.nav-items:hover {
    opacity: 0.8;
    padding-bottom: 12px;
    border-bottom: 3px solid rgba(255,225,1,255);
}

.logo {
    letter-spacing: 3px;
    margin: 0 30px;
    color: rgba(255,225,1,255);
    font-weight: 900;
    text-decoration: none;
    font-size: 36px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.first-content {
    min-width: 700px;
}

.title {
    font-size: 50px;
    letter-spacing: 3px;
    color: #fff;
}

.title-magazine {
    font-size: 75px;
    color: #7049a4;
    margin-top: -8px;
}

.subtitle {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 3px;
    margin: 30px 0;
    color: #fff;
}

.span-title {
    font-size: 18px;
    font-weight: 900;
    color: rgba(255,225,1,255);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    max-width: 60%;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
    border: 3px solid #7049a4; 
    outline: none;
    /* border: none; */
}

button {
    max-width: 66%;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid #7049a4; 
    background-color: #7049a4;
    color: aliceblue;
    font-weight: 700;
    letter-spacing: 3px;
}

button:hover {
    background-color: #32017e;
    border: 2px solid #32017e;
    color: #fff;
}

.logo-img {
    height: 590px;
    /* width: 700px; */
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;  /*Coloca-o como background*/
}