@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 90vh;
    background-color: black;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    padding: 0 10px;
}

.navbar {
    margin-bottom: 30px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    min-width: 100px;
}

.nav-logo {
    font-size: 38px;
    letter-spacing: 3px;
    margin: 0 20px;
    color: #fee100; 
    font-weight: 900;
    text-decoration: none;
}

.nav-logo:hover {
    transition: 0.5s;
    opacity: 0.8;
}

.nav-items {
    display: flex;
    list-style: none;
}

.items {      
    letter-spacing: 3px;
    margin: 0 20px;
    text-decoration: none;
    color: rgb(222, 220, 220);
    font-weight: 500;
    transition: 0.5s;
}

.items:hover {
    opacity: 0.8;
    padding-bottom: 12px;
    border-bottom: 3px solid #fee100;
}

.item-travel {
    font-size: 19px;
    letter-spacing: 3px;
    margin: 0 20px;
    text-decoration: none;
    color: rgb(222, 220, 220);
    font-weight: 500;
    border: 2px solid #fee100;
    border-radius: 9px;
    padding: 5px;
    animation: animate 1.5s linear infinite;
}

/*  */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.title {
    font-size: 50px;
    letter-spacing: 3px;
    color: rgb(222, 220, 220);
}

.title-magazine {
    font-size: 75px;
    color: #7049a4;
    margin-top: -8px;
    max-width: 350px;
}

.subtitle {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 3px;
    margin: 30px 0;
    color: rgb(222, 220, 220);
}

.span-subtitle {
    font-size: 18px;
    font-weight: 900;
    color: #fee100;
}

form {
    display: flex;
    flex-direction: column;
}

.form-label {
    display: flex;
    align-items: center;
    background-color: rgb(222, 220, 220);
    width: 450px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.form-input {
    width: 80%;
    padding: 15px;
    background-color: rgb(222, 220, 220);
    outline: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

input::placeholder {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #262424;
}

.icon-modify {
    margin-left: 15px;
    font-size: 17px;
    color: #262424;
}

.form-button {
    max-width: 450px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid #7948ba; 
    background-color: #644094;
    color: aliceblue;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
}

button:hover {
    transition: 0.5s;
    background-color: #32017e;
    border: 2px solid #32017e;
    color: #fff;
}

.logo-img {
    margin-top: 28px;
    height: 590px;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;  /*Coloca-o como background*/
}

@keyframes animate {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 10;
    }
    100%{
        opacity: 0.5;
    }
